In [13]:
!pip install pandas

Requirement already satisfied: pandas in ./anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in ./anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path

# File to Load 
school_data = Path("Desktop/Starter_Code/PyCitySchools/Resources/schools_complete.csv")
student_data = Path("Desktop/Starter_Code/PyCitySchools/Resources/students_complete.csv")
SchData = pd.read_csv(school_data)
StuData = pd.read_csv(student_data)

# Combine the data into a s!pip install pandasingle dataset.  
schooldatacomp = pd.merge(SchData, StuData, how="left", on=["school_name", "school_name"])
schooldatacomp.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [19]:
# Calculate the total number of unique schools
school_count = len(schooldatacomp["school_name"].unique())

school_count

15

In [20]:
student_count = schooldatacomp['school_name'].count()
student_count

39170

In [11]:
total_budget = SchData['budget'].sum()
total_budget

24649428

In [12]:
average_math_score = StuData['math_score'].mean()
average_math_score

78.98537145774827

In [13]:
average_reading_score = StuData['reading_score'].mean()
average_reading_score

81.87784018381414

In [14]:
passing_math_count = schooldatacomp[(schooldatacomp["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count /float("39170") * 100
passing_math_percentage

74.9808526933878

In [15]:
passing_reading_count = schooldatacomp[(schooldatacomp["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count /float("39170") * 100
passing_reading_percentage

85.80546336482001

In [16]:
passing_math_reading_count = schooldatacomp[
    (schooldatacomp["math_score"] >= 70) & (schooldatacomp["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float("39170") * 100
overall_passing_rate

65.17232575950983

In [21]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [school_count], 
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "Percent Passing Math": [passing_math_count],
    "Percent Passing Reading": [passing_reading_count],
    "Percent Passing Overall": [overall_passing_rate]
    
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)


# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,15,"39,170","$24,649,428.00",78.985371,81.87784,29370,33610,65.172326

In [22]:
school_types = SchData.set_index(["school_name"])['type']
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [23]:
per_school_counts = schooldatacomp['school_name'].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [24]:
per_school_budget = schooldatacomp.groupby(["school_name"])['budget'].mean()
per_school_capita = per_school_budget/per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [25]:
per_school_math = schooldatacomp.groupby(["school_name"])["math_score"].mean()
per_school_reading = schooldatacomp.groupby(["school_name"])["reading_score"].mean()

In [26]:
students_passing_math = schooldatacomp[(schooldatacomp["math_score"] >= 70)]

school_students_passing_math = students_passing_math.groupby(["school_name"])["student_name"].count()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64